tinysys.cache/**
tinysys.gen/**
tinysys.runs/**
tinysys.sim/**
tinysys.ip_user_files/**
tmp/simtop.*
tinysys.srcs/sources_1/ip/.Xil/**.lock
software/.waf3**
software/waf3**
software/build**
software/**/*.txt
software/**/*.elf
software/**/*.coe
software/.lock*
board/expansionboardA-backups/**.zip
board/expansionboardA**.lck
vivado_*.backup.jou
vivado_*.backup.log
software/samples/doom/src/riscv/*.txt
software/emulator/build/**
software/emulator/waf3-**
software/emulator/.lock**
software/host/.waf3**
software/host/build/release/**
software/host/.lock*
software/emulator/.waf3-**
software/ESP32C6/generic_gpio/build/**
software/ESP32C6/defaultrom/build/**
software/emulator/emulator/emulator/x64/**
software/emulator/emulator/x64/**
software/emulator/emulator/.vs/**