tinysys.cache/**
tinysys.gen/**
tinysys.runs/**
tinysys.sim/**
tinysys.ip_user_files/**
tmp/simtop.*
tinysys.srcs/sources_1/ip/.Xil/**.lock
software/.waf3**
software/waf3**
software/build**
software/samples/**/*.elf
software/samples/**/*.txt
software/emulator/sdcard/nes/**
software/ROMs/**/*.txt
software/ROMs/**/*.coe
software/ROMs/**/*.elf
software/.lock*
board/**-backups/**.zip
board/**.lck
boardB/**-backups/**.zip
boardB/**.lck
vivado_*.backup.jou
vivado_*.backup.log
software/samples/doom/src/riscv/*.txt
software/emulator/build/**
software/emulator/waf3-**
software/emulator/.lock**
software/emulator/.waf3-**
software/emulator/emulator/emulator/x64/**
software/emulator/emulator/x64/**
software/emulator/emulator/.vs/**emulator/**
software/host/build/release/**
software/host/.lock*
software/ESP32S3/generic_gpio/build/**
software/ESP32S3/defaultrom/build/**
software/**/.DS_Store
software/emulator/bin/**
!software/emulator/bin/tinysys**
!software/emulator/bin/**.dll
!software/emulator/bin/_ensurefolderexists.txt
software/emulator/emulator/.vs/**
software/emulator/emulator/tinysys/x64/**
software/tinyremote/build/**
software/tinyremote/waf3**
software/tinyremote/.lock**
software/tinyremote/.waf3**
software/tinyremote/.lock**
!software/tinyremote/bin/tinyremote**
!software/tinyremote/bin/**.dll
!software/tinyremote/bin/_ensurefolderexists.txt
software/emulator/sdcard/doom/*.wad
software/emulator/sdcard/quake/ID1/**
software/samples/bendemo/**