.shipping-notice-banner {
    height: 70px; 
    width: 100%; 
    display: block; 
    z-index: 102; 
    top: 0px; 
    left: 0px;
    position: fixed;
    background-color: #cc0000;
}

.shipping-notice-banner:before {
    position: absolute;
    content: "";
    background-image: url("https://www.digikey.com/-/media/Images/Header/Notice/boxred.png");
    height:70px;
    width:100%;
    max-width:50%;
    background-position:right;
    background-repeat: no-repeat;
    z-index:1001;
    left:0px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

@media screen and (min-width: 1025px) {
    .shipping-notice-banner:after {
        position: absolute;
        content: "";
        background-image: url("https://www.digikey.com/-/media/Images/Header/Notice/boxred.png");
        height:70px;
        width:100%;
        max-width:50%;
        background-position:right;
        background-repeat: no-repeat;
        z-index:1001;
        right:0px;
    }
}

@media screen and (max-width: 1024px) {
    .shipping-notice-banner:before {
        max-width:100%;
        background-position: center
    } 
}

/* Japanese & Korean Version, NO BOXES */
html:lang(en-jp) .shipping-notice-banner,
html:lang(ja-jp) .shipping-notice-banner,
html:lang(ko-kr) .shipping-notice-banner,
html:lang(en-kr) .shipping-notice-banner,
.mini-msg .shipping-notice-banner {
    height:36px;
    background: rgb(238,148,12);
    background: -moz-linear-gradient(90deg, rgba(238,148,12,1) 0%, rgba(204,0,0,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(238,148,12,1) 0%, rgba(204,0,0,1) 100%);
    background: linear-gradient(90deg, rgba(238,148,12,1) 0%, rgba(204,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ee940c",endColorstr="#cc0000",GradientType=1); 
}

html:lang(en-jp) .shipping-notice-banner:after,
html:lang(en-jp) .shipping-notice-banner:before,
html:lang(ja-jp) .shipping-notice-banner:after,
html:lang(ja-jp) .shipping-notice-banner:before,
html:lang(en-kr) .shipping-notice-banner:after,
html:lang(en-kr) .shipping-notice-banner:before,
html:lang(ko-kr) .shipping-notice-banner:after,
html:lang(ko-kr) .shipping-notice-banner:before,
.mini-msg .shipping-notice-banner:before,
.mini-msg .shipping-notice-banner:after {
    display: none;
}

.shipping-notice-banner .header-shipping-msg.msg-short {
    display:none;
}

/* Search Pages Only */
.mini-msg .shipping-notice-banner .header-shipping-msg.msg-short {
    display: block;
}

.mini-msg .shipping-notice-banner .header-shipping-msg.msg-tall {
    display: none;
}

html body:not(.gdpr).shipping-msg {
    margin-top:70px;
    background-position:0px 70px;
}

html:lang(en-jp) body:not(.gdpr).shipping-msg,
html:lang(ja-jp) body:not(.gdpr).shipping-msg,
html:lang(en-kr) body:not(.gdpr).shipping-msg,
html:lang(ko-kr) body:not(.gdpr).shipping-msg,
html body:not(.gdpr).shipping-msg.mini-msg {
    margin-top:36px;
    background-position:0px 36px;
}

@media screen and (max-width:1024px) {
    html body:not(.gdpr).shipping-msg #header {
        margin-top:70px;
    }
    
    html:lang(en-jp) body:not(.gdpr).shipping-msg #header,
    html:lang(ja-jp) body:not(.gdpr).shipping-msg #header,
    html:lang(en-kr) body:not(.gdpr).shipping-msg #header,
    html:lang(ko-kr) body:not(.gdpr).shipping-msg #header,
    html body:not(.gdpr).shipping-msg.mini-msg #header {
        margin-top:36px;
    }
    
    html body:not(.gdpr).flymenu-toggle.shipping-msg .shipping-notice-banner {
        z-index:99
    }
    
    html body:not(.gdpr).flymenu-toggle.shipping-msg .menu-backdrop {
        top:-70px;
    }
    
    html body:not(.gdpr).flymenu-toggle.shipping-msg.mini-msg .menu-backdrop {
        top:-36px;
    }
}

.header-shipping-msg {
    height:70px;
    border-bottom:solid 1px #000;
    width: 100%;
    display: block;
    color: white;
    text-align: center;
    line-height: 72px;
    cursor: pointer;
    font-size:20px;
    z-index: 1002;
    position: absolute;
}

.header-shipping-msg a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

html:lang(en-jp) .header-shipping-msg a,
html:lang(ja-jp) .header-shipping-msg a,
html:lang(en-kr) .header-shipping-msg a,
html:lang(ko-kr) .header-shipping-msg a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

html:lang(en-jp) .header-shipping-msg,
html:lang(ja-jp) .header-shipping-msg,
html:lang(en-kr) .header-shipping-msg,
html:lang(ko-kr) .header-shipping-msg,
.mini-msg .header-shipping-msg {
    height:36px;
}

html:lang(en-jp) .header-shipping-msg,
html:lang(ja-jp) .header-shipping-msg,
html:lang(en-kr) .header-shipping-msg,
html:lang(ko-kr) .header-shipping-msg,
.mini-msg .header-shipping-msg {
    line-height: 36px;
    font-size:16px;
}

.header-shipping-msg img {
    vertical-align: middle;
    padding:0 10px 0 0;
}

.rtl .header-shipping-msg img {
    padding:0 0 0 10px;
}

.header-shipping-msg-close {
    position: absolute; 
    top: 20px; 
    right: 5px; 
    width: 28px; 
    height: 28px; 
    padding: 0px; 
    font-size: 26px; 
    font-weight: normal; 
    text-align: center; 
    text-decoration: none; 
    color: #fff; 
    line-height: 28px;
    z-index: 1003;
    cursor: pointer;
}

html:lang(en-jp) .header-shipping-msg-close,
html:lang(ja-jp) .header-shipping-msg-close,
html:lang(en-kr) .header-shipping-msg-close,
html:lang(ko-kr) .header-shipping-msg-close,
.mini-msg .header-shipping-msg-close {
    top:3px;
}

.rtl .header-shipping-msg-close {
    left: 5px;
}

@media screen and (max-width: 768px) {
    .header-shipping-msg {font-size: 16px;}
}

@media screen and (max-width: 500px) {
    .header-shipping-msg, 
    .mini-msg .header-shipping-msg,
    html:lang(en-jp) .header-shipping-msg,
    html:lang(ja-jp) .header-shipping-msg,
    html:lang(en-kr) .header-shipping-msg,
    html:lang(ko-kr) .header-shipping-msg {font-size: 12px}
    .header-shipping-msg img,
    .rtl .header-shipping-msg img {
        height:16px;
        padding:0px;
    }
}

.gdpr .shipping-notice-banner {
    display: none !important;
}

/* Misc variations */
#twoDayShippingModal .dk-table td {
    text-align:left;
}

.text-color--green {
    font-weight:bold;
    color:green;
}

.new-price-text {
color: green;
font-weight: bold;
padding: 0 0 0 5px;
}

.diagonal-strike {
    position: relative;
    display: inline-block;
}

.diagonal-strike::before {
    content: '';
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
}

.diagonal-strike::before {
    border-bottom: 2px solid red;
    -webkit-transform: skewY(-10deg);
    transform: skewY(-10deg);
}