/*// ----------------------------------------------------------------------------------------------------
//         _________     _____                 _____       _____   _____
//        /   ___   \   /____/                /____/      /    /  /    /
//       /   /  /   /  _____   ___________   _____       /    /_/    /    ___________   _____  _____
//      /   /  /   /  /    /  /   __     /  /    /      /          /     /   ___    /  /    / /    /
//     /   /  /   /  /    /  /   /  /   /  /    / ___  /         /      /   /__/   /  /    / /    /
//    /   /  /   /  /    /  /   /  /   /  /    / /__/ /    /\    \     /   _______/  /    /_/    /
//   /   /__/   /  /    /  /   /__/   /  /    /      /    / \     \   /   /______   /           /
//  /__________/  /____/  /_____     /  /____/      /____/   \_____\ /__________/  /______     /
//                       ______/    /                                             ____   /    /
//                      /          /                                             /   /__/    /
//                     /__________/                                             /___________/
//
// ----------------------------------------------------------------------------------------------------
// DIGI-KEY ELECTRONICS FOOTER.CSS - SLIM 4 COLUMN VERSION, STAY CONNECTED ON TOP
// ----------------------------------------------------------------------------------------------------*/

@charset "utf-8";
/* CSS Document */

.footer {
    border-top: solid 2px #000;
    color: #ffffff;
    background-color: #111;
    width: 100%;
    position: relative;
    clear: both;
}

.footer__headline {
    margin: 0;
}

.footer__headline {
    margin-bottom: 10px;
    display: block;
}

.footer a {
    text-decoration: none;
    color: #b4b4b4;
}

.footer a:hover {
    text-decoration: underline;
}

.footer__wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer__top {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
}

.footer__top > div {
    padding: 20px 20px 10px 20px;
    width:calc(25% - 40px);
    max-width:350px;
}

.footer__top .footer__headline {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.footer__top a {
    display: block;
    margin: 0 0 7px 0;
}

/* CONTACT US COLUMN */
.footer__column--contact {
    color: #b4b4b4;
}

.footer__column--contact > span {
    display: block;
    margin-bottom:7px;
}

.rtl .footer__column--contact > span:not(.footer__headline),
.rtl .footer__column--contact > a {
    direction:ltr;
    text-align:right;
}

.footer__column--contact > a[href*='tel']:hover {
    text-decoration: none !important;
    cursor: text;
}

.footer__column--contact [class*='icon'] {
    font-size: 16px;
    padding-right: 15px;
    vertical-align: middle;
    color: #fff;
}

    .rtl .footer__column--contact [class*='icon'] {
        padding-left: 15px;
        padding-right:0px;
        float:right;
    }

.footer__column--contact .footer_icon-spacer {
    display: inline-block;
    width: 16px;
    height: 1px;
}

.footer__column--contact .icon-email:before {
    content: "\f0e0"
}

.footer__column--contact .icon-fax:before {
    content: "\e954"
}

.footer__column--contact .icon-sms:before {
    content: "\f10b";
}

.footer__column--contact div {
    margin-top: 10px;
}

.codoze {
    cursor: pointer;
}

.codoze:before {
    content: "\e901";
    font-size: 18px;
    vertical-align: middle;
    padding-right: 13px;
    color: #fff;
}

.rtl .codoze:before {
    padding-right: 0px;
    padding-left: 13px;
}

#footer #trustwaveSealImage {
    width: 60px;
    margin-left: -3px;
}

    .rtl #footer #trustwaveSealImage {
        margin-left: 0;
        margin-right: -3px;
    }

/* FOLLOW US COLUMN */
.footer__social a {
    display: inline-block;
    margin-right: 10px;
}

    .rtl .footer__social a {
        margin-right:0px;
        margin-left:10px;
    }

.footer__social img {
    height: 18px;
}

.footer__apps {
    margin: 10px 0;
}

.footer__apps a {
    display: inline-block;
}

.footer__apps img {
    height: 30px;
}

/* MARKETO EMAIL SIGNUP */
.footer__subscribe {
    background-color:#444;
    padding:10px 10px;
    text-align: center;
}

.footer__subscribe p {
    color:#fff;
}

.footer-email-heading {
    display: block;
    padding-bottom: 5px;
    font-size:14px;
}

.footer-email-inputs {
    max-width: 400px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.footer-email-input {
    border: solid 2px white;
    font-size: 14px;
    border-radius: 25em;
    box-sizing: border-box;
    height: 36px;
    vertical-align: top;
    padding: 0 80px 0 10px;
    width:100%;
}

    .rtl .footer-email-input {
        padding:0 10px 0 80px;
    }

.footer-email-button {
    box-sizing: border-box;
    color: #fff;
    background-color: #cc0000;
    border: solid 2px white;
    border-radius: 25em;
    font-weight: bold;
    font-size: 12px;
    height: 36px;
    margin-left: -10px;
    vertical-align: top;
    position: absolute;
    right:0px;
    padding:0 20px;
    -webkit-appearance:none;
    transition: all 150ms ease-out;
}

    .rtl .footer-email-button {
        left: 0px;
        right: auto;
    }

.footer-email-button:hover {
    background-color: #a30000;
    cursor: pointer;
}

.footer-email-phrase {
    font-size:11px;
    padding-top: 10px;
    display: block;
}

.footer-email-warning {
    color: #cc0000;
    margin:0px;
    padding-bottom:5px;
}

/* COUNTRY, COPYRIGHT, TERMS AND PRIVACY */
.footer__bottom {
    text-align: center;
    padding: 10px;
    font-size: 11px;
    color: #b4b4b4
}

.footer__bottom .footer__bottom--line-1 > a,
.footer__bottom .footer__bottom--line-1 > span {
    border-right: solid 1px #b4b4b4;
    padding-right: 10px;
    margin-right: 10px;
    white-space: nowrap;
}

.footer__bottom .footer__bottom--line-1 > a,
.footer__bottom .footer__bottom--line-1 > span {
    border-right:none;
    border-left: solid 1px #b4b4b4;
    padding-left: 10px;
    margin-left: 10px;
    padding-right:0px;
    margin-right:0px;
}

    .rtl .footer__bottom .footer__bottom--line-1 > a,
    .rtl .footer__bottom .footer__bottom--line-1 > span {
        border-left:none;
        border-right: solid 1px #b4b4b4;
        padding-right: 10px;
        margin-right: 10px;
        padding-left:0px;
        margin-left:0px;
    }

.footer__bottom .footer__bottom--line-1 a:last-child {
    border-right: none;
}

    .rtl .footer__bottom .footer__bottom--line-1 a:last-child {
        border-left:none;
        border-right:solid 1px #b4b4b4;
    }

.footer__bottom .footer__bottom--line-1 a:first-child {
    color: #fff;
    border: none;
}

.footer__bottom .footer__bottom--line-1 a img {
    height: 13px;
    margin-right: 5px;
    vertical-align: text-bottom;
}

.rtl .footer__bottom .footer__bottom--line-1 a img {
    margin-right:0px;
    margin-left:5px;
}

.footer__bottom .footer__bottom--line-2 {
    padding-top: 5px;
    direction: ltr;
}

/* LIVE CHAT AND FEEDBACK FLOATING SECTION */
.footer #feedback:before {
    content: "\f0a1";
    font-size: 14px;
    font-weight: normal;
    color: #cc0000;
    margin-right: 9px;
}

.rtl .footer #feedback:before {
    margin-right: 0px;
    margin-left: 9px;
}

.footer .open-egain-chat-button:before {
    content: "\f02b";
    font-size: 14px;
    font-weight: normal;
    color: #cc0000;
    margin-right: 9px;
}

.rtl .footer .open-egain-chat-button:before {
    margin-right: 0px;
    margin-left: 9px;
}

.footer__floater {
    position: fixed;
    top: 56%;
    height: 14px;
    padding-bottom: 8px;
    z-index: 1;
}

@media screen and (min-width:641px) {
    .footer__floater.floating {
        position: absolute;
        top: -30px;
        height: 14px;
        right: 8px;
        padding-bottom: 8px;
        z-index: 1;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        width: auto;
    }
}

.footer #feedback,
.footer .open-egain-chat-button {
    display: inline-block !important;
    cursor: pointer;
    font-weight: bold;
    color: #cc0000;
    background-color: #fff;
    border: solid 1px #8b0000 !important;
    border-bottom: none !important;
    padding: 5px 15px 8px 12px;
    font-size: 14px;
    height: 14px;
    border-radius: 4px 4px 0 0;
    margin-left: 5px;
}

.footer__floater {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    overflow: visible;
    height: 27px;
    width: 27px;
    white-space: nowrap;
    right: -3px;
    top: 75%;
}

    .rtl #feedback {
        margin-left: auto;
        margin-right: 3px;
    }

.footer #feedback:hover,
.footer #feedback:hover:before,
.footer .open-egain-chat-button:hover,
.footer .open-egain-chat-button:hover:before {
    color: #fff;
    background-color: #cc0000;
}

.footer__floater {
    z-index: 10;
    box-sizing:content-box;
}

    .rtl .footer__floater {
        -webkit-transform: rotate(-270deg);
        -moz-transform: rotate(-270deg);
        -ms-transform: rotate(-270deg);
        -o-transform: rotate(-270deg);
        transform: rotate(-270deg);
        left: -3px;
        right: auto;
    }

    .rtl .footer__floater.floating {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        left: 8px;
        width: auto;
    }

#feedback a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width:1024px) {
    .footer__top > div {
        padding: 20px 20px 10px 20px;
        width:calc(50% - 40px);
    }
}

@media screen and (max-width:640px) {
    .footer__top > div {
        padding: 20px 20px 10px 20px;
        width:calc(100% - 40px);
    }
    
    .footer__bottom { 
        padding: 15px 20px 10px 20px;
    }

    .footer__bottom .footer__bottom--line-1 > a,
    .footer__bottom .footer__bottom--line-1 > span,
    .footer__bottom .footer__bottom--line-2 > * {
        display: block !important;
        text-align:left !important;
        padding: 3px 0 !important;
        font-size: 12px;
        border: none !important;
        margin:0px !important;
    }


    .rtl .footer__bottom .footer__bottom--line-1 > a,
    .rtl .footer__bottom .footer__bottom--line-1 > span,
    .rtl .footer__bottom .footer__bottom--line-2 > * {
        text-align:right !important;
    }

    .footer__bottom .footer__bottom--line-1 > a:first-of-type {
        margin-bottom:5px;
    }
}

@media screen and (max-width:640px) {
    .footer__floater,
    .footer .floating,
    .rtl .footer__floater,
    .rtl .footer .floating{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .footer__floater {
        position: static;
        height: auto;
        padding-bottom: 0px;
        width: auto;
    }

    .footer .open-egain-chat-button,
    .footer #feedback {
        font-size: 16px;
        display: block !important;
        padding: 8px 10px;
        margin: 10px;
        border-radius: 25px;
        color: #1a1552;
        background-color: #fff;
        font-weight: bold;
        height: auto;
        vertical-align: middle;
        text-align: center;
        border:solid 2px #ccc !important;;
    }
    
    .footer .open-egain-chat-button:hover ,
    .footer #feedback:hover {
        background-color: #f5f5f5;
        color: #1a1552;
        
    }
    
    .footer .open-egain-chat-button:before,
    .footer #feedback:before,
    .footer .open-egain-chat-button:hover:before,
    .footer #feedback:hover:before{
        font-size: 18px;
        color: #1a1552;
        background-color:#f5f5f5
    }
}


@media print {
    .footer {
        border-top:none;
    }
    .footer * {
        color:#000 !important;
    }
    .footer__floater,
    .footer__subscribe,
    .footer__top,
    .footer__column.footer__column--info,
    .footer__column.footer__column--help,
    .footer__column.footer__column--follow,
    .footercobrowse,
    .footer__column.footer__column--contact div,
    .footer__bottom--line-1 a ~ a {
        display:none;
     }

     .footer__top {
         display:block;
     }

     .footer__column.footer__column--contact {
         display:table;
         width:auto;
         max-width:100%;
         padding:0px;
         margin:0 auto;
     }

     .footer__column.footer__column--contact > * {
         display:table-cell;
         text-align:center;
         padding:0 20px;
     }

     .footer__headline,
     .footer_icon-spacer {
         display:none !important;
     }
    
    .footer ~ * {
        display: none;
    }
}