/* NEED HELP MODAL CSS */
.helpModal {z-index: 1001;}
.helpModal .inner-modal-container {padding: 15px 20px;}

.helpModal .inner-modal-container .engineer-help-section .dk-modal__content--headline {margin: 7px 0 10px; padding: 0;}
.helpModal .inner-modal-container .engineer-help-section .help-modal-close {box-shadow: none; border: 1px solid #fff;}
.helpModal .inner-modal-container .engineer-help-section .help-modal-close:hover {background: #dadada; border: 1px solid #aaa;}
.helpModal .inner-modal-container .engineer-help-section .help_techForum_container {display: block; font-size: 13px; line-height: 1.5; color: #222;}
.helpModal .inner-modal-container .engineer-help-section .modal-button-container {display: block; width: 100%; margin: 10px auto;}
.helpModal .inner-modal-container .engineer-help-section .modal-button-container a.dk-btn--lg {width: 100%;}

.helpModal .inner-modal-container .live-chat-help-section {display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-flow: row wrap; padding: 10px 0; border: 0; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
.helpModal .inner-modal-container .live-chat-help-section .chat-bubble-img {-webkit-box-flex: 0; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; height: 45px; padding: 0 10px;}
.helpModal .inner-modal-container .live-chat-help-section ul {-webkit-box-flex: 1; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; width: auto; height: auto;}
.helpModal .inner-modal-container .live-chat-help-section ul, 
.helpModal .inner-modal-container .live-chat-help-section ul li {list-style: none; margin: 0; padding: 0;}
.helpModal .inner-modal-container .live-chat-help-section ul li {padding: 1px 0; line-height: 1.5;}
.helpModal .inner-modal-container .live-chat-help-section ul li a {text-decoration: underline; cursor: pointer;}

.helpModal .inner-modal-container .help-topics-section {margin: 0 0 10px;}
.helpModal .inner-modal-container .help-topics-section .help-heading {display: block; font-size: 15px; padding: 12px 0 10px; font-weight: bold;}
.helpModal .inner-modal-container .help-topics-section ul,
.helpModal .inner-modal-container .help-topics-section ul li {list-style: none; margin: 0; padding: 0;}
.helpModal .inner-modal-container .help-topics-section ul li {line-height: 1.5;}
.helpModal .inner-modal-container .help-topics-section ul li a {text-decoration: underline; cursor: pointer;}


.dk-modal__content .dk-card {margin-top: 5px;margin-bottom: 10px;padding: 15px;}
.dk-modal__content .chat-check-order .dk-card {margin-top: 0px;margin-bottom: 0px;padding: 0px;}
.dk-modal__content .helpModal__summaryCards {margin-top: 10px;vertical-align: text-bottom;}
.dk-modal__content .helpModal__summaryCardsHeadline {font-weight: bold;}
.dk-modal__content .helpModal__summaryCardsHeadline img {float: left; margin: 20px;}
.dk-modal__content .dk-link.dk-card.help-contact-btn {padding: 7px;margin: 6px 6px 6px 0;display: inline-block;min-width: 170px;width: auto;}
.dk-modal__content .rtl .dk-link.dk-card.help-contact-btn {margin: 6px 0 6px 6px;}
.dk-modal__content .dk-link.dk-card img, .dk-modal__title img {height: 25px;width: auto;vertical-align: middle;margin: 0 5px;}
.dk-modal__content .helpModal__summaryCards img { height: 22px; width: auto; vertical-align: middle; margin: 0 5px 0 0;}
.dk-modal__content .rtl .helpModal__summaryCards img {margin: 0 0 0 5px;}
.dk-modal__content .helpModal__sectionHeadline {font-weight: bold; font-size: 14px;}